<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.example.config.FlywayConfig</listener-class>
    </listener>


    <servlet>
        <servlet-name>DatabaseController</servlet-name>
        <servlet-class>com.example.controller.DatabaseController</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>db_url</param-name>
            <param-value>jdbc:mysql://localhost:3306/hotel_db</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>password123#</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>DatabaseController</servlet-name>
        <url-pattern>/database</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.example.controller.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>com.example.controller.SignupController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>com.example.controller.HomePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.example.controller.LogoutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllUserController</servlet-name>
        <servlet-class>com.example.controller.GetAllUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllUserController</servlet-name>
        <url-pattern>/getalluser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>com.example.controller.UpdateUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetOneUserController</servlet-name>
        <servlet-class>com.example.controller.FetchLoggedUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetOneUserController</servlet-name>
        <url-pattern>/fetch</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRoomController</servlet-name>
        <servlet-class>com.example.controller.AddRoomController</servlet-class>
        <multipart-config>
            <max-file-size>1000000</max-file-size>
            <max-request-size>1000000</max-request-size>
            <file-size-threshold>1000000</file-size-threshold>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddRoomController</servlet-name>
        <url-pattern>/addRoom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateRoomStatusController</servlet-name>
        <servlet-class>com.example.controller.UpdateRoomStatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRoomStatusController</servlet-name>
        <url-pattern>/updateroom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchAllRoomController</servlet-name>
        <servlet-class>com.example.controller.FetchAllRoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchAllRoomController</servlet-name>
        <url-pattern>/fetchallroom</url-pattern>
    </servlet-mapping>

</web-app>